<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <bean id="myadvice" class="com.liu.advice.MyAdvice"></bean>
    
    <aop:config>
    	<aop:aspect ref="myadvice">
    		<aop:pointcut expression="execution(* com.liu.test.Demo.demo1())" id="mypoint"/>
    		<!-- <aop:before method="mybefore" pointcut-ref="mypoint"/> -->
    		<aop:after-returning method="myafter2" pointcut-ref="mypoint"/>
    		<aop:after method="myafter1" pointcut-ref="mypoint"/>
    		<aop:after-throwing method="mythrow" pointcut-ref="mypoint"/>
    		<aop:around method="myarround" pointcut-ref="mypoint"/>
    	</aop:aspect>
    </aop:config>
        
	<bean id="demo" class="com.liu.test.Demo"></bean>        
</beans>